{
  "development": {        // values to be used when the app is running on development environment
    'PORT': 5000,
    "DATABASE": "database-name",
    "DATABASE_DIALECT": "postgres",
    "HOST": "127.0.0.1",
    "DATABASE_USER": "database-username",
    "DATABASE_PASSWORD": "database-password",
    "NODE_ENV": "development",
    "SECRET_KEY": "some-really-secret-key",
    "JWT_EXPIRATION": "5d" // smaple valid values 60, 2 days, 10h, 5d
  },
  "test": {  // values used in testing environment
    'PORT': 5000,
    "DATABASE": "test-database-name",
    "DATABASE_DIALECT": "postgres",
    "HOST": "127.0.0.1",
    "DATABASE_USER": "database-username",
    "DATABASE_PASSWORD": "database-password",
    "NODE_ENV": "test",
    "SECRET_KEY": "some-really-secret-key",
    "JWT_EXPIRATION": "5d" // smaple valid values 60, 2 days, 10h, 5d
  }
}
